@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.tag {
  @apply text-sm inline-flex border border-orange-500 px-3 py-1 rounded-lg tracking-tight;
}

.section-title {
  @apply font-bold tracking-tighter bg-gradient-to-b from-purple-600 to-orange-500 text-transparent bg-clip-text;
}

.section-description {
  @apply text-center text-[22px] leading-[30px] tracking-tight text-[#010D3E];
}

.section-heading {
  @apply max-w-[540px] mx-auto;
}

.search-bar {
  @apply bg-white flex px-1 py-1 rounded-full border border-orange-500 overflow-hidden w-52 max-w-[350px] font-[san-serif]
}

.search-btn {
  @apply bg-black hover:bg-black/60 transition-all text-white text-sm rounded-full px-5 py-2.5
}

.btn {
  @apply px-4 py-2 rounded-lg font-medium inline-flex items-center justify-center tracking-tight;
}

.btn-primary {
  @apply bg-black text-white;
}

.btn-primary-alt {
  @apply bg-black text-white dark:bg-white dark:text-black;
}
.btn-text {
  @apply text-black dark:text-white bg-transparent;
}

.heads-up {
  @apply h-[100vh] flex items-center justify-center;
}